.heading {
    width: 100%;
    font-size: 25px;
    margin: 0px;
}
.note{
    font-size: 20px;
    color: black;
}
body{
    background-size: cover;
}
.speed_img,.volume_img{
    width: 200px;
    border-radius: 100px;
}
.div_speed {
    float: left;

}
.div_volume{
    float: right;
}
.play_button{
    width: 100px;
    font-size: 25px;
}
canvas{
    border: 6px solid orange;
    border-radius: 25px;
}